{% extends "view/layout/base.html" %}

{% block body %}

<div id="cars" class="columns is-centered is-multiline cars">
    {% for car in data.cars %}
    <div class="column is-one-quarter">
        <div id={{car.id}} class="card">
            <header class="card-header">
                <p class="card-header-title  is-centered">
                    <img class="car-logo" src={{car.image}} alt="car image">
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content is-small">

                    <h1>{{ car.brand }} {{ car.model }} {{ car.year }}</h1>
                    {% if car.reserved %}
                    <p><span class="tag is-dark is-medium">Reserved</span></p>
                    {% else %}
                    <span class="tag is-success is-medium">{{ car.price }}$ per day</span>
                    {% endif %}


                    <ul>
                        <li>{{ car.transmission }}</li>
                        <li>{{ car.fuel }}</li>
                        <li>{{ car.trunk }} Trunk</li>

                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <a {% if car.reserved %}disabled{% endif %} href="#" class="button is-inverted is-primary card-footer-item">Reserve</a>
                <a href="/car/{{car.id}}" class="button is-inverted is-link card-footer-item">Info</a>
                <a href="#" class="button is-inverted is-info card-footer-item">Edit</a>
                <a href="#" class="button is-inverted is-danger  card-footer-item">Delete</a>
            </footer>
        </div>
       
    </div>
    {% endfor %}





</div>

{% endblock %}