{% extends "view/layout/base.html" %}

{% block body %}
<div class="columns is-centered">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://di-uploads-pod47.dealerinspire.com/roushhonda/uploads/2022/07/Midnight-Amethyst-Metallic-honda.png" alt="Placeholder image">
                </figure>
              </div>
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="button is-success card-footer-item">Reserve</a>
                <a href="#" class="button is-link card-footer-item">Info</a>

                <a href="#" class="button is-info card-footer-item">Edit</a>
                <a href="#" class=" button is-danger card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title  is-centered">
                    <img class="car-logo" src="https://media.toyota.com.ar/4bd389a4-a8e1-4a7a-98f6-a5d40ff7410b.png">

                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content is-small">

                    <h1>Toyota Corolla 2023</h1>
                    <span class="tag is-dark is-medium">Reserved</span> or <span class="tag is-success is-medium">40$ per day</span>

                    <ul>
                        <li>Automatic</li>
                        <li>Air conditioning</li>
                        <li>Gasoline</li>
                        <li>Unlimited mileage</li>
                        <li>4 seats</li>
                        <li>5 doors</li>

                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="button is-link card-footer-item"disabled>Reserve</a>
                <a href="#" class="button is-info card-footer-item">Edit</a>
                <a href="#" class=" button is-danger card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title  is-centered">
                    <img class="car-logo" src="https://media.toyota.com.ar/4bd389a4-a8e1-4a7a-98f6-a5d40ff7410b.png">

                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content is-small">

                    <h1>Toyota Corolla 2023</h1>
                    <span class="tag is-dark is-medium">Reserved</span> or <span class="tag is-success is-medium">40$ per day</span>

                    <ul>
                        <li>Automatic</li>
                        <li>Air conditioning</li>
                        <li>Gasoline</li>
                        <li>Unlimited mileage</li>
                        <li class="is-invisible"></li>
                        <li class="is-invisible"></li>

                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="button is-link card-footer-item"disabled>Reserve</a>
                <a href="#" class="button is-info card-footer-item">Edit</a>
                <a href="#" class=" button is-danger card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title  is-centered">
                    <img class="car-logo" src="https://media.toyota.com.ar/4bd389a4-a8e1-4a7a-98f6-a5d40ff7410b.png">
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="button is-link card-footer-item">Reserve</a>
                <a href="#" class="button is-info card-footer-item">Edit</a>
                <a href="#" class=" button is-danger card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
</div>


{% endblock %}