<div class="columns">
    
    <div class="column">
        <div class="field">
            <label class="label">Brand</label>
            <div class="control">
                <input name="brand" id="brand" class="input" type="text" placeholder="Toyota" required>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <label class="label">Model</label>
            <div class="control">
                <input name="model" id="model" class="input" type="text" placeholder="Corolla" required>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <label class="label">Year</label>
            <div class="control">
                <input name="car-year" id="car-year" class="input" type="number" placeholder="2023" required>
            </div>
        </div>
    </div>
</div>


<div class="columns">

    <div class="column">
        <div class="field">
            <label class="label">Price</label>
            <div class="control">
                <input name="price" id="price" class="input" type="number" placeholder="40" required>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <label class="label">Trunk</label>
            <div class="control">
                <input name="trunk" id="trunk" class="input" type="number" placeholder="470" required>
            </div>
        </div>
    </div>

</div>