<div class="columns">
    <div class="column">
        <div class="field">
            <label class="label">Transmission</label>
            <div class="control">
                <div class="select">
                    <select name="transmission" id="transmission">
                        <option value="Manual">Manual</option>
                        <option value="Automatic">Automatic</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <label for="fuel" class="label">Fuel</label>
            <div class="control">
                <div class="select">
                    <select id="fuel" name="fuel">
                        <option value="Gasoline">Gasoline</option>
                        <option value="Hybrid">Hybrid</option>
                        <option value="Electric">Electric</option>
                        <option value="Diesel">Diesel</option>
                        <option value="NaturalGas">Natural gas</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <label class="label">Unlimited mileage</label>
            <div class="control">
                <div class="select">
                    <select name="unlimited-mileage" id="unlimited-mileage">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="columns">

    <div class="column">
        <div class="field">
            <label class="label">Air conditioning</label>
            <div class="control">
                <div class="select">
                    <select name="air-conditioning" id="air-conditioning">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <label class="label">Seats</label>
            <div class="control">
                <div class="select">
                    <select name="seats" id="seats">
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <label class="label">Doors</label>
            <div class="control">
                <div class="select">
                    <select name="doors" id="doors">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>