<div class="columns">
    <div class="column">
        <div class="field">
            <label class="label">Select a start date</label>
            <div class="control">
                <input name="since" id="date-start" class="input" type="text" placeholder="Since" required>
            </div>
            {% if validation.since === false %}
                <p class="help is-danger">Invalid date</p>
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="field">
            <label class="label">Select an end date</label>
            <div class="control">
                <input name="until" id="date-end" class="input" type="text" placeholder="Until" required>
            </div>
            {% if validation.until === false %}
                <p class="help is-danger">Invalid date</p>
            {% endif %}
        </div>
    </div>
</div>

<input class="is-hidden" type="hidden" name="car-id" value="{{ data.car.id }}">
