<div class="columns">
    <div class="column">
       {% include "reserve/view/form/content/since.html" %}
    </div>
    <div class="column">
        {% include "reserve/view/form/content/until.html" %}
    </div>
    <div class="column">
        {% include "reserve/view/form/content/user.html" %}
    </div>
    <div class="column">
        {% include "reserve/view/form/content/payment_method.html" %}
    </div>
</div>



<input class="is-hidden" type="hidden" name="id" value="{{ reserve.id }}">
<input class="is-hidden" type="hidden" name="car-id" value="{{ car.id }}">
