<div id="{{car.id}}-delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="subtitle">Sure you want to delete?</p>
        </header>
        <footer class="modal-card-foot">
            <form method="POST" action="/car/delete/{{car.id}}">
                <button class="button is-danger">Delete</button>
            </form>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>
