<div class="columns">
    {% include "user/view/form/content/names.html" %}
    {% include "user/view/form/content/surnames.html" %}
    {% include "user/view/form/content/email.html" %}    
</div>
<div class="columns">
    {% include "user/view/form/content/personal_id_type.html" %}    
    {% include "user/view/form/content/personal_id_number.html" %}    
    {% include "user/view/form/content/birthdate.html" %}    
</div>
<div class="columns">
    {% include "user/view/form/content/nationality.html" %}    
    {% include "user/view/form/content/address.html" %}  
    {% include "user/view/form/content/phone.html" %}       
</div>