<div id="features">
    {% if car.unlimitedMileage %}
    <div class="columns is-centered">
        <div class="icon-text is-centered">
            <span class="icon has-text-success">
                <i class="fas fa-check-square"></i>
            </span>
            <span> Unlimited mileage</span>
        </div>
    </div>
    {% endif %}
    <ul>
        <div class="columns">
            <div class="column">
                <li>{{ car.transmission }}</li>
                <li>{{ car.trunk }} L Trunk</li>
                <li> {{ car.seats }} Seats </li>
            </div>
            <div class="column">
                <li>{{ car.fuel }}</li>
                {% if car.airConditioning %}
                <li> Air conditioning</li>
                {% endif %}
                <li> {{ car.doors }} Doors</li>
            </div>
        </div>
    </ul>
</div>