<div id="reserve-{{reserve.reserve.id}}-delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="subtitle">Sure you want to cancel this reserve?</p>
        </header>
        <footer class="modal-card-foot">
            <form method="POST" action="/reserve/delete/{{reserve.reserve.id}}">
                <button class="button is-danger">Cancel</button>
            </form>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>
