{% for reserve in reserves %}
<tr>
    <td>{{ reserve.reserve.id }}</td>
    <td>
        <a href="/car/view/{{reserve.reserve.car.id}}">{{ reserve.reserve.car.brand }}
            {{ reserve.reserve.car.model }} {{ reserve.reserve.car.year }}
        </a>
    </td>
    <td>
        <figure class="image is-5by3">
            <img src="{{ reserve.reserve.car.image }}">
        </figure>
    </td>
    <td>{{ reserve.reserve.since }}</td>
    <td>{{ reserve.reserve.until }}</td>
    <td><span class="tag is-success is-small">{{ reserve.price }}$</span></td>
    {% include 'reserve/view/table/reserve_actions.html' %}
</tr>
{% include 'reserve/view/table/modal.html' %}
{% endfor %}