html{
    background-color: #f5f4f1;
    text-align: center;
}
#title{
    color: #313d44;
}
.car-logo{
    height: 150px;
}
.custom-info{
    background-color: #d4eaf7;
}
.custom-edit{
    background-color: #b6ccd8;
}
.custom-reserve{
    background-color: #8bd3f7;
}
.cars{
    margin: 20px
}