{% extends "view/layout/base.html" %}

{% block title %}
{{ data.car.brand }} {{ data.car.model }} Info
{% endblock %}

{% block body %}
<br>

<div class="columns is-mobile is-centered">
    <div class="column is-one-third">
        <div class="card car-card">
            <div class="card-image">
                {% include "car/view/view/car/image.html" %}
            </div>
            <div class="card-content">
                <div class="content">
                    {% include "car/view/view/car/name.html" %}
                    {% include "car/view/view/car/state.html" %}
                    {% include "car/view/view/car/description.html" %}
                    {% include "car/view/view/car/features.html" %}
                </div>
            </div>

            {% include "car/view/view/car/actions.html" %}

        </div>
    </div>
</div>
</div>
</div>


</div>
{% endblock %}